body{
    background-image: url("https://st2.depositphotos.com/1056393/7113/i/600/depositphotos_71137541-stock-photo-speaker-at-business-conference-and.jpg");
    color:black;
    background-position: fixed;
   background-repeat: no-repeat;
    background-size: cover;
    
  
    }

.form-contol,
    .form-control:focus{
    background-color: rgb(177,168,168);
    }
.image{
    width: 250px;
    margin-right: 10px;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color:wheat;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:green;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }