{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" >
    <link  rel="stylesheet" href="{% static 'blog/css/all.min.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link  rel="stylesheet" href="{% static 'blog/css/style1.css' %}"> 
    
  
    <title>Document</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'blog/js/popper.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <div class="container-fluid bg-dark ">
        {% include 'blog/navbar.html' %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% block msg %}
            {% endblock msg %}
        </div>
    </div>
    <div class="row m-5">
        {% block side %}
         {% endblock side %}
         {% block content %}
         {% endblock content %}
    </div>
    
</body>
</html>