{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-20">
    <h3 class="text-black text-center " style="font-family: cursive;font-size: 60px;"> POPULAR UNIVERSITIES </h3>
    <div class="col-sm-16 text-center mt-5">
        <img  class="image" src="{% static 'blog/images/daiict.jpg' %}">
        <img  class="image" src="{% static 'blog/images/iit.png' %}">
        <img  class="image" src="{% static 'blog/images/nirma.jpg' %}">
        <img  class="image" src="{% static 'blog/images/iim.png' %}">
    </div>
    
    
</div>
{% endblock content %}